<html>
    <head>
        <title> Wrong Password </title>
        <script>
            confirm("Wrong Password")
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>