<section>
    <h2>
        Enter as participant
    </h2>
    <form action="/enterroom" method="POST">
        <label class="sr-only" for="room-id">Enter the room code</label>
        <input name="roomId" type="number" id="room-id" placeholder="Room code "/>
        <button>
            <img src="images/enter-room.svg" alt="Join Room"/>
            Join a room
        </button>
    </form>
</section>

<div class="separator">
    <div class=""></div>
    <div class="">Or</div>
    <div class=""></div>
</div>

<section>
    <h2>
        Create your own room easily</h2>
    <a href="/create-pass" class="button outlined">
        <img src="images/users.svg" alt="Users-Logo"/>
        Create Room
    </a>
</section>