<div class="no-questions">
    <img src="/images/noquestions.svg" alt="Sem perguntas">
    <p>No question here...</p>
    <p>Make your first question and send the <br>room code for your friends!</p>
</div>